[submodule "iOS-text-chat/TextChatSample/TextChatKit/Logging/opentok-solutions-logging"]
	path = iOS-text-chat/TextChatSample/TextChatKit/Logging/opentok-solutions-logging
	url = https://github.com/opentok/opentok-solutions-logging.git
