/*@import url(https://fonts.googleapis.com/css?family=Muli:400,300);*/

/*.ot-textchat {*/
  /*font-family: 'Muli', sans-serif;*/
  /*font-size: 1em;*/
  /*color: #333;*/

  /*position: absolute;*/
  /*top: 0;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  /*overflow: hidden;*/
  /**/
  /*background-color: #EEE;*/
/*}*/

/*.ot-textchat * {*/
  /*margin: 0;*/
  /*padding: 0;*/
/*}*/

/*.ot-textchat .ot-bubbles {*/
  /*position: relative;*/
  /*margin-bottom: 1em;*/
  /*height: calc(100% - 20em);*/
  /*overflow-y: auto;*/
  /*overflow-x: hidden;*/
/*}*/

/*!**/
 /** By default, normal bubbles are bubbles from the other participants and*/
 /** the special case is the local participan.*/
 /**!*/
/*.ot-textchat .ot-bubble {*/
  /*background-color: #F8F8F8;*/
  /*margin-left: 1em;*/
  /*border-bottom: 0.2em solid #ECEBEB;*/
  /*white-space: nowrap;*/
/*}*/

/*!* Centering triangle with bubble contents *!*/
/*.ot-textchat .ot-bubble:before,*/
/*.ot-textchat .ot-bubble:after,*/
/*.ot-textchat .ot-bubble > div {*/
  /*display: inline-block;*/
  /*vertical-align: middle;*/
/*}*/

/*.ot-textchat .ot-bubble > div {*/
  /*width: calc(100% - 1.2em - 2em);*/
  /*position: relative;*/
  /*left: -0.8em;*/
  /*padding: 1em 2em 1em 1.2em;*/
  /*white-space: normal;*/
/*}*/

/*!**/
 /** To keep the start of the text and the end aligned, we keep the width*/
 /** but reducing the right padding so we "free" some space at right.*/
 /**!*/
/*.ot-textchat .ot-bubble.mine > div {*/
  /*width: calc(100% - 1.2em - 2em);*/
  /*background-color: #EEE;*/
  /*padding-right: 1em;*/
/*}*/

/*!* The left triangle *!*/
/*.ot-textchat .ot-bubble:before {*/
  /*content: "";*/
  /*!* triangle *!*/
  /*border: 0.6em solid transparent;*/
  /*border-left: none;*/
  /*border-right-width: 0.8em;*/
  /*border-right-color: #F8F8F8;*/
  /*!* move outside the box *!*/
  /*position: relative;*/
  /*left: -0.7em;*/
/*}*/

/*!**/
 /** Simply hide (not destroy) the left triangle to simplify stylizing the*/
 /** content.*/
 /**!*/
/*.ot-textchat .ot-bubble.mine:before {*/
  /*border-color: transparent;*/
/*}*/

/*!* The right triangle *!*/
/*.ot-textchat .ot-bubble.mine:after {*/
  /*content: "";*/
  /*!* triangle *!*/
  /*border: 0.6em solid transparent;*/
  /*border-right: none;*/
  /*border-left-width: 0.8em;*/
  /*border-left-color: #EEE;*/
  /*!* move outside the box *!*/
  /*position: relative;*/
  /*right: 0.8em;*/
/*}*/

/*.ot-textchat .ot-bubble-header {*/
  /*font-size: 1.4em;*/
  /*overflow: auto;*/
  /*margin-bottom: 1.6em;*/
/*}*/

/*.ot-textchat .ot-message-sender {*/
  /*float: left;*/
/*}*/

/*.ot-textchat .ot-message-timestamp {*/
  /*float: right;*/
/*}*/

/*.ot-textchat .ot-message-content {*/
  /*font-size: 1.4em;*/
  /*margin-bottom: 1.3em;*/
/*}*/

/*.ot-textchat .ot-input {*/
  /*position: relative;*/
  /*margin: 0 1em;*/
/*}*/

/*.ot-textchat .ot-composer {*/
  /*padding: 1em;*/
  /*height: 10em;*/
  /*width: 100%;*/
  /*border: none;*/
  /*background-color: #fff;*/
  /*box-sizing: border-box;*/
  /*font-family: sans-serif;*/
  /*font-size: 1.4em;*/
  /*line-height: 1.5em;*/
  /*outline: none;*/
  /*overflow: auto;*/
/*}*/

/*.ot-textchat .ot-error-zone,*/
/*.ot-textchat .ot-new-messages {*/
  /*padding: 1em;*/
  /*position: absolute;*/
  /*left: 0;*/
  /*right: 0;*/
  /*height: 2em;*/
  /*background-color: #F8F8F8;*/
  /*transform: translateY(calc(-100%));*/
  /*text-align: center;*/
/*}*/

/*.ot-textchat .ot-error-zone {*/
  /*color: #EE2E08;*/
/*}*/

/*.ot-textchat .ot-new-messages {*/
  /*color: #888;*/
/*}*/

/*.ot-textchat .ot-bottom-line {*/
  /*overflow: auto;*/
/*}*/

/*.ot-textchat .ot-character-counter {*/
  /*float: left;*/
  /*margin: 1em 0;*/
  /*line-height: 2.1em;*/
  /*font-size: 1.1em;*/
/*}*/

/*.ot-textchat .ot-character-counter.error {*/
  /*color: #EE2E08;*/
/*}*/

/*.ot-textchat .ot-send-button {*/
  /*background: none;*/
  /*border: none;*/
  /*outline: none;*/
  /*float: right;*/
  /*padding: 1em;*/
  /*font-size: 1.3em;*/
  /*color: inherit;*/
/*}*/

/*.ot-textchat .ot-send-button:hover {*/
  /*background-color: #f4f4f4;*/
/*}*/

/*.ot-textchat .ot-send-button[disabled] {*/
  /*color: #C1C1C1;*/
/*}*/
