/*Start Call Button*/
.wms-widget-wrapper .wms-start-call .btn-start-call{
  background-color: #34acf6;
}

/*Send Chat Button*/
.wms-widget-wrapper .wms-widget-extras .wms-send-message-box button:hover{
  background-color: #34acf6;
}

/*Chat Initial Circle*/
.wms-widget-wrapper .wms-widget-extras .wms-messages-holder .wms-message-item.wms-message-sent .wms-user-name-initial{
  background-color: #34acf6;
}

/*Call Control Icon Border Color*/
.wms-widget-wrapper .wms-feed-call-controls button:hover{
  border-color: #2ca4ee;
}

/*Chat Header BG color*/
.wms-widget-wrapper .wms-widget-extras .wms-messages-header{
  background-color: #34acf6;
  color: #fff;  
}

/*Chat Bubble Background Color Sent*/
.wms-widget-wrapper .wms-widget-extras .wms-messages-holder .wms-message-item.wms-message-sent .wms-item-text{
  background-color: #D4EDFC;
  color: #505050
}
.wms-widget-wrapper .wms-widget-extras .wms-messages-holder .wms-message-item.wms-message-sent .wms-item-text:before{
  border-top-color: #D4EDFC;
}
