<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>IMComponetSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Make Framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>645730101C5FCCAE009690A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64605E4D1C7D45BE008DFF64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>648BE9431C5F0FB500669C04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64FB1D771C7D5A2000528C0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
