<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Build.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Distribution.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>TextChatAccPackKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TextChatKit copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>TextChatKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TextChatKitBundle.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>TextChatKitTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A07B968E1D1B6273002397EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A07B96AD1D1B6418002397EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A07B96B61D1B6418002397EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A07B97051D1B64CF002397EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A07B971A1D1BA01C002397EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A07B971E1D1BA023002397EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A07B97221D1BA028002397EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A07B97661D1BAC5C002397EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
