<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A061B9701D1D98FA0020DDD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A061B98C1D1D990D0020DDD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A061B99D1D1D99270020DDD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A061B9A71D1D99680020DDD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A07B971A1D1BA01C002397EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A07B971E1D1BA023002397EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0CFDF881D25079000D8449B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0CFDFA71D2509E200D8449B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
